<?xml version="1.0" encoding="utf-8"?>
<LayoutRoot>
	<RootPanel Orientation="Horizontal">
		<LayoutAnchorablePaneGroup Orientation="Horizontal" DockWidth="405.19999999999993" DockHeight="294.80000000000007" FloatingWidth="2750.4" FloatingHeight="304.8" FloatingLeft="28" FloatingTop="587.2">
			<LayoutAnchorablePane DockWidth="405.19999999999993" DockHeight="294.80000000000007" FloatingWidth="2750.4" FloatingHeight="304.8" FloatingLeft="28" FloatingTop="587.2">
				<LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="PROJECT DESIGN SURFACE" IsSelected="True" ContentId="DESIGNSURFACE" FloatingLeft="28" FloatingTop="587.2" FloatingWidth="2750.4" FloatingHeight="304.8" LastActivationTimeStamp="07/27/2022 11:56:24" />
			</LayoutAnchorablePane>
		</LayoutAnchorablePaneGroup>
		<LayoutPanel Orientation="Vertical" DockWidth="9.753970995862277*">
			<LayoutDocumentPane Id="0c0bdec6-f360-4864-87be-0cd91b1a0622" DockHeight="0.8277830637488106*">
				<LayoutDocument Title="TAB1" IsSelected="True" IsLastFocusedDocument="True" ContentId="TAB1" LastActivationTimeStamp="07/27/2022 11:56:21" />
				<LayoutDocument Title="TAB2" IsLastFocusedDocument="True" ContentId="TAB2" LastActivationTimeStamp="07/27/2022 11:06:52" />
			</LayoutDocumentPane>
		</LayoutPanel>
	</RootPanel>
	<TopSide />
	<RightSide />
	<LeftSide />
	<BottomSide />
	<FloatingWindows />
	<Hidden />
</LayoutRoot>